/* Artfully masterminded by ZURB  */

/* --------------------------------------------------
   Table of Contents
-----------------------------------------------------
:: Shared Styles
:: Page Name 1
:: Page Name 2
*/


/* -----------------------------------------
   Shared Styles
----------------------------------------- */
body {
  background: url('../images/flowers_st_louis_mini.jpg') no-repeat fixed;
  background-size: cover;
}

h1 {
  font-family: 'Roboto Condensed';
}

div {
  background-color: #fff;
}

.tumblr_title {
  font-family: arial;
  font-size: 24px;
  font-weight: bold;
  margin-top: 10px;
}

ol.tumblr_posts {
  list-style: none;
}

li.tumblr_post.tumblr_text_post {
  border-bottom: 1px solid black;
}

.screenshot {
  box-shadow: 1px 1px 5px gray;
  margin-top: 20px;
}

h4 {
  border-bottom: 1px solid #000;
}

.icons {
  background: rgb(239,239,239);
  text-align: left;
}

.icons img {
  display: inline-block;
}

/* -----------------------------------------
   Page Name 1
----------------------------------------- */




/* -----------------------------------------
   Contact Page
----------------------------------------- */
.skillset {
  margin-left: 25px;
}

